.blackswan-imageenlarger {
	transition: transform .2s ease-in-out;
}

.blackswan-imageenlarger:hover {
	display: inline !important;
	position: absolute !important;
	transform: scale(2,2) !important;
	z-index: 2500000 !important;

}
