img {
	position: absolute;
	z-index: 2500000;
	transition: transform .2s ease-in-out;
	overflow: visible;
}

img:hover {
	display: inline !important;
	position: absolute !important;
	transform: scale(2,2) !important;
	z-index: 2500000 !important;
	max-width: none !important;
	max-height: none !important;
	overflow: visible !important;

}
